.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: #ff9933;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links > a {
  text-decoration: none;
  color: #333;
}

.nav-links > a:hover {
  color: #0077ff;
}

.app-body {
  padding: 20px 40px;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.res-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: min(90%, 250px);
  padding: 0.5rem;
}

.res-card-img {
  display: flex;
}
.res-card-img > img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border: 1px solid black;
}

.res-card-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.res-card-body-heading {
  margin: 0.3rem 0;
  padding: 0.4rem 0;
  border-bottom: 1px solid #666;
}

.res-card-body-heading > h3 {
  margin: 0;
}
.res-card-body-heading > p {
  margin: 0;
}

.res-card-line3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
  padding: 0.4rem 0;
  border-bottom: 1px solid #666;
}

.res-card-body-offer {
  margin: 0.3rem 0;
  padding: 0.4rem 0;
}

.filter-btn {
  padding: 10px;
  cursor: pointer;
}
